body , html
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    flex:1 0 auto;
    font-family: 'Roboto';
    margin: 0;





}
.header, .layerthree ,.layerfour ,.layerfive ,.footer
{
    display:flex;
    flex-grow: 1;


}
/* Editing the fist layer header+hero */
.header
{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    align-items: center;
    gap: 40px;




}
.hero
{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:48px;
    Align-items: center;
    width: 50%;


}
.header-links
{
    display: flex;
    flex-direction:row;
    gap:16px;

    font-size: 18px;
    color: #E5E7EB;

}

.layertwo
{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    padding:100px 0px;

}
.text-and-button
{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 40%

}
#smallheader
{
    font-size: 48px;
    color: #F9FAF8;
}
#subtextone
{
    font-size: 18px;
    color: #E5E7EB;
}

button
{
    width:140px;
    height: 38px;

}
#positive
{
    background-color: #3882f6;
    color:#F9FAF8;
    font-size:18px;
    border:none;
    font-weight: 700;
    border-radius:5px;
}


/* Editing the boxes with some random information */
.layerthree
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;

}
.imagebox
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.boxes
{
    display: flex;
    gap: 90px;


}
.imagebox-text
{
    text-align: center;
}

.box
{
    width: 150px;
    height: 150px;
    border: solid 4px #3882f6;
    border-radius: 10px;
}

.toptext
{
    align-self: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;

}


/* Layer four The quote section */
.layerfour
{
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
    justify-content: flex-end;
    background-color: #E5E7EB;






}
#quote
{
    font-size: 36px;
    font-weight: 300;
    width:990px;
    color: #1f2937;

}
#quoter
{
 width: 990px;
    text-align: right;
    font-size: 28px;
    font-weight:900;
}

/* Layer four The quote section */

.layerfive
{
    display: flex;
    flex-direction:row;
    align-self:center;
    font-size: 24px;
    width:50%;
    margin: 100px;
    justify-content: center;
    padding: 30px;
    padding:30px;
    background-color:#3882f6;
    gap:20px;
    color: #ffffff;
    align-items: center;
    border-radius: 10px;
}
#negative
{
    background-color: #3882f6;
    color: #ffffff;
    border-color: #ffffff;
    height: 60px;
    width:200px;
    border-radius: 5px;
    font-size: 24px;
    border: 3px solid;



}








.footer
{   display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 20px;
    margin: auto;
    background-color:#1f2937;
    text-align: center;
   align-self: center;
    font-size: 24px;
    color: #F9FAF8;



}
